#app {

  display: grid;
}

.figure {
  width: 100px;
  height: 100%;
  object-fit: cover;
}

.Maths-content {
  margin-left: 35px;
}

.add-to-cart {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s;
  font-family: "Segoe UI", sans-serif;
}

.add-to-cart:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.disabled-button {
  background-color: #d9534f; /* Red color for disabled state */
  cursor: not-allowed;
}



/* .main-content {
  display: inline; 
  width: 30%;
  height: 30%;
  margin: 10px;
  padding: 10px;
  border: solid;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
} */

/* .main-content:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: solid;
} */

.checkout {
  position: absolute; /* Change to absolute positioning */
  top: 10px; /* Adjust the top position as needed */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for centering */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 50px;
  margin-top: 10px; /* You may want to remove this */
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s;
  font-family: "Segoe UI",  sans-serif;
  z-index: 1000; /* Ensure it appears on top */
}


.checkout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
